HasanECommerce/BaseApp/__pycache_
HasanECommerce/BaseApp/migrations
HasanECommerce/LoginApp/__pycache_
HasanECommerce/LoginApp/migrations
HasanECommerce/HasanECommerce/__pycache__
HasanECommerce/.env
HasanECommerce/requirements_lat.txt