Hasan_ECommerce/BaseApp/__pycache_
Hasan_ECommerce/BaseApp/migrations
Hasan_ECommerce/LoginApp/__pycache_
Hasan_ECommerce/LoginApp/migrations
Hasan_ECommerce/HasanECommerce/__pycache__
Hasan_ECommerce/.env
Hasan_ECommerce/requirements_lat1.txt