{% extends 'AdminApp/base.html' %}

    {% block content %}

        <!-- breadcrumb start-->
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item">
                                <p>Home / <a href="{% url 'admin_app:ad_all_prods' %}">All Products/</a> / Add New Product</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb start-->

    <!--================login_part Area =================-->
        <section class="login_part section_padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="login_part_text text-center">
                                <div class="login_part_text_iner">
                                    <h2>Fill in the details about your product.</h2>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <form class="row contact_form" method="post" enctype="multipart/form-data">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        <label for="name">Product Name*</label>
                                        <input type="text" class="form-control" id="name" name="p_name" placeholder="Ex: el Salvato" required>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <label for="p_desc">Product Description <small>max characters allowed(200)</small></label>
                                        <textarea type="text" class="form-control" id="p_desc" name="p_desc" rows="3" maxlength="200" placeholder="Some brief description about the product."></textarea>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="p_price" id="price">Product Price*</label>
                                                <input type="number" class="form-control" id="p_price" name="p_price" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="p_qty">Product Quantity*</label>
                                                <input type="number" class="form-control" id="p_qty" name="p_qty" value="10" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="p_gender">Product Gender*</label>
                                                <div class="default-select">
                                                    <select name="p_gender" id="p_gender">
                                                        <option value="none">Choose</option>
                                                        <option value="men">Male</option>
                                                        <option value="woman">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-element-widget">
                                                    <label for="product_category">Category*</label> 
                                                    <div class="default-select" id="cat_p">
                                                        <select name="p_category" id="product_category">
                                                            <option value="none">--Choose a Gender--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group p_start">
                                        <label for="p_imgs">Add Product Images <small>only (.png) images supported.</small></label>
                                        <input class="form-control" type="file" name="p_imgs" id="p_imgs" accept=".png" multiple>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <button type="submit" value="submit" class="btn_3">
                                            Add Product
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->

    {% endblock %}

    {% block script %}

        <script>

                $(document).ready(function() {

                    $("#p_gender").change(function() {

                        var val = $(this).val();

                        if (val == "men") {

                            var restStuff =  "{% for cat in categories_men %}<li data-value='{{ cat.name }}' class='option'>{{ cat.name }}</li>{% endfor %}";
                            var selectStuff = "{% for cat in categories_men %}<option value='{{ cat.name }}'>{{ cat.name }}</option>{% endfor %}";
                            $("#cat_p > .nice-select > .current").html("Choose Category");
                            $("#product_category").html(selectStuff);
                            $("#cat_p > .nice-select > .list").html(restStuff);

                        } else if (val == "woman") {

                            var restStuff =  "{% for cat in categories_woman %}<li data-value='{{ cat.name }}' class='option'>{{ cat.name }}</li>{% endfor %}";
                            var selectStuff = "{% for cat in categories_woman %}<option value='{{ cat.name }}'>{{ cat.name }}</option>{% endfor %}";
                            $("#cat_p > .nice-select > .current").html("Choose Category");
                            $("#product_category").html(selectStuff);
                            $("#cat_p > .nice-select > .list").html(restStuff);

                        } else if (val == "none") {

                            $("#cat_p > .nice-select > .current").html("--Choose a Gender--");
                            $("#cat_p > .nice-select > .list").html("");

                        }

                    });

                });

        </script>

    {% endblock %}